@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Alegreya-VariableFont_wght.ttf") format("ttf");
}

@theme {
  --font-serif: "Alegreya", serif;
}

:root {
  --text-main: var(--color-zinc-950);
  --bg-main: var(--color-zinc-50);
  --bg-muted: #eae9e1;
  --border-main: var(--color-zinc-900);
}
body,
header {
  background: #f9f9fb;
}
