@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Alegreya-VariableFont_wght.ttf") format("ttf");
}

@theme {
  --font-serif: "Alegreya", serif;
  --color-dissidia-muted: #9da2bf;
  --color-dissidia-white: hsl(240, 47.4%, 98%);
  --color-dissidia-black: hsl(244.4, 18.1%, 20%);
  --color-dissidia-text: #1b1d4a;
  --color-dissidia-accent: #43ced0;
  --color-dissidia-accent2: #927d54;
}

:root {
  --text-main: var(--color-zinc-950);
  --bg-main: var(--color-zinc-50);
  --border-main: var(--color-zinc-900);
}

html {
  font-family: var(--font-serif);
}
.heading-lg {
  font-size: var(--text-5xl);
  text-transfrom: capitalize;
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
}
.heading-md {
  font-size: var(--text-4xl);
  line-height: var(--leading-loose);
  font-weight: var(--font-weight-extrabold);
}
.body-text {
  color: var(--color-dissidia-black);
  line-height: var(--leading-2);
  letter-spacing: var(--tracking-wide);
  font-weight: var(--font-weight-normal);
  text-wrap: balance;
  font-size: var(--text-lg);
}
.button {
  display: inline-flex;
  justify-items: center;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 6);
  line-height: var(--leading-tight);
  font-style: italic;
  color: var(--color-dissidia-black);
  background: var(--bg-dissidia-white);
  border: 1px solid var(--color-dissidia-black);
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: theme(transitionTimingFunction.DEFAULT);
  transition-duration: theme(transitionDuration.DEFAULT);
}
.button:hover {
  background-color: #9da2bf;
  opacity: 70;
}
