@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Alegreya-VariableFont_wght.ttf") format("ttf");
}

@theme {
  --font-serif: "Alegreya", serif;
}

:root {
  --text-main: var(--color-zinc-950);
  --bg-main: var(--color-zinc-50);
  --bg-muted: #eae9e1;
  --border-main: var(--color-zinc-900);
  --color-dissidia-white: hsl(240, 47.4%, 98%);
  --color-dissidia-black: #3f3d58;
  --color-dissidia-text: #1b1d4a;
  --color-dissidia-accent: #43ced0;
  --color-dissidia-accent2: #927d54;
}
body,
header {
  background: var(--color-dissidia-white);
}
footer {
  background: #3e3c43;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #59586f;
}
