---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Justin Bento</title>
  </head>
  <body>
    <Header />
    <main class="max-w-7xl mx-auto px-4 py-5 sm:p-6 min-h-dvh">
      <section class="w-full flex items-center aspect-video">
        <div class="">
          <h1 class="text-5xl text-zinc-950 font-bold leading-[1.125]">
            Hi, my name is Justin Bento. <br />
            I am a Full-Stack Developer.
          </h1>
          <p class="text-zinc-950 text-xl/[1.5] max-w-4xl text-balance mt-4">
            I build web apps with Ruby and Rails, JavaScirpt, React.js, Astro.js
            & Tailwind CSS. Currently, I&#39;m focused on building accessible,
            human-centered products.
          </p>
          <a
            href="/projects"
            class="block w-fit mt-8 bg-zinc-950 rounded text-zinc-50 px-5 py-2 text-sm uppercase tracking-wide leading-[2] font-medium hover:bg-sky-500 transition-all"
            >View Project
          </a>
        </div>
      </section>
    </main>
  </body>
  <Footer />
</html>
