---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Justin Bento</title>
  </head>
  <body>
    <main>
      <section class="relative isolate overflow-hidden">
        <img
          src="/image/gratisograph-mars-robot.jpg"
          alt=""
          class="w-full aspect-video object-cover z-0 relative grayscale brightness-50"
        />
        <div class="absolute top-0 z-20 h-full flex items-center">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h1 class="text-5xl text-white">Hello World</h1>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
