---
import CardListItem from "../components/CardListItem.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface MarkdownFile {
  frontmatter: {
    title: string;
    description?: string;
  };
  url: string;
}

const projects = Object.values(
  import.meta.glob<MarkdownFile>("./projects/*.md", { eager: true })
) as MarkdownFile[];

const blogs = Object.values(
  import.meta.glob<MarkdownFile>("./blogs/*.md", { eager: true })
) as MarkdownFile[];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Justin Bento</title>
  </head>
  <body>
    <Header />
    <main class="max-w-7xl mx-auto px-4 py-5 sm:p-6 min-h-dvh space-y-56 my-24">
      <section class="w-full flex items-center min-h-96">
        <div class="">
          <h1
            class="text-5xl font-serif capitalize font-semibold leading-[1.25]"
          >
            Hi, my name is Justin Bento. <br />
            I am a Full-Stack Developer.
          </h1>
          <p class="text-xl/[1.5] font-serif max-w-4xl text-balance mt-4">
            I build web apps with Ruby and Rails, JavaScirpt, React.js, Astro.js
            & Tailwind CSS. Currently, I&#39;m focused on building accessible,
            human-centered products.
          </p>
          <a
            href="/projects"
            class="mt-8 inline-flex items-center justify-center px-6 py-2 font-serif leading-tight italic text-main bg-main border border-main rounded-full transition hover:bg-muted"
            >View Project
          </a>
        </div>
      </section>
      <section>
        <h2
          class="font-mono text-[2.488rem]/[2] font-extrabold space-x-4 flex items-center gap-4"
        >
          <span class=""><sup class="mr-2 text-sky-500">#1.</sup>About Me</span>
        </h2>
        <div
          class="[&>p]:leading-[2] space-x-8 text-balance tracking-wide space-y-8"
        >
          <img
            src="/image/justin-bento-playing-guitar.jpg"
            alt=""
            class="w-96 font-serif aspect-square bg-zinc-200 rounded-xl float-right object-cover object-center"
          />
          <p>
            Hello again. As you know, my name is Justin Bento, and I enjoy
            creating things that live on the internet. My interest in website
            development started back in 2016 when I decided to spend time by on
            the computer watching Website Design speed art on YouTube. As it
            turns out trying to recreate these designs in photoshop and learning
            to code them with HTML and CSS really ignited my flames so much so
            that my teacher noticed it in highschool. During my free time I'd
            willingly browse and scan through code teaching myself a lot about
            graphic design alongside programming.
          </p>
          <p>
            I enrolled in Humber College's Website Design and Development
            program, and here I learned how to build websites for a living.
            During my time here I learned a lot of things howver I struggled to
            pinpoint my exact direction. Eventually my path lent me back to
            Humber college. During my time here I collaborated with content
            creators, graphic designers and project managers and built the
            actual Front-End for various college courses. After the corse was
            approved by the lead developer we deployed it using Humber's
            internal system code so thousands of students could interact with
            the course.
          </p>
          <p>
            Fast-forward to today, I am currently looking for work as a Full
            Stack Developer in Toronto, ON. I am constantly pushing myself to
            make educated recommendations that bring value to your company that
            reduce lead developers' burden by starting smaller tasks
            independently.
          </p>
        </div>
      </section>
      <section>
        <h2
          class="font-mono text-[2.488rem]/[2] font-extrabold space-x-4 flex items-center gap-2"
        >
          <span class="">
            <sup class="text-sky-500">#3.</sup>
            Some things I've Built.
          </span>
        </h2>
        <p class="text-2xl/[1.5] tracking-normal font-serif text-balance">
          Below are some projects I've created over the span of my career.
        </p>
        <ul class="grid grid-cols-1 gap-12 mt-6">
          {
            projects.map((blog) => {
              return <CardListItem item={blog} show="technologies" />;
            })
          }
        </ul>
      </section>
      <section>
        <h2
          class="font-mono text-[2.488rem]/[2] font-extrabold space-x-4 flex items-center gap-2"
        >
          <span class="">
            <sup class="text-sky-500">#4.</sup>
            Stuff I want to Share.
          </span>
        </h2>
        <p class="text-2xl/[1.5] tracking-normal font-serif text-balance">
          I’m always learning. Here are some topics I found fascinating—enough
          to talk about.
        </p>
        <ul class="grid grid-cols-1 gap-12 mt-6">
          {
            blogs
              .slice()
              .reverse()
              .map((blog) => {
                return <CardListItem item={blog} show="tags" />;
              })
          }
        </ul>
      </section>
      <section>
        <h2
          class="font-mono text-[2.488rem]/[2] font-extrabold space-x-4 flex items-center gap-2"
        >
          <span class="">
            <sup class="text-sky-500">#6.</sup>
            Get In Touch.
          </span>
        </h2>
        <div
          class="[&>p]:leading-[2] max-w-[100ch] text-pretty tracking-wide space-y-6"
        >
          <p>
            Thank you for reaching out! Whether you have a question, a
            suggestion, or just want to share your thoughts, I am all ears. Feel
            free to get in touch through any of the methods below:
          </p>
          <p>
            Email: Feel free to drop me an email at bento.a.justin@gmail.com,
            and I will do my best to respond asap.
          </p>
          <p>
            Social Media: Connect with me on social media as well. Find me on
            <a
              href="https://soundcloud.com/bento-box-519166246"
              class="underline">SoundCloud</a
            > or
            <a href="https://www.linkedin.com/in/justinbento/" class="underline"
              >LinkedIn</a
            >.
          </p>
        </div>
      </section>
    </main>
  </body>
  <Footer />
</html>
