---

---

<header class="sticky top-0 bg-white z-30">
  <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
    <div class="max-w-7xl mx-auto px-4 py-5 sm:p-6">
      <p>this is a header</p>
    </div>
  </div>
</header>
