---
const navigation = ["home", "projects", "blogs"];
---

<header class="overflow-hidden">
  <div class="max-w-7xl mx-auto py-6 flex items-center justify-between">
    <ul class="gap-2 flex items-center">
      {
        navigation.map((item, index) => {
          return (
            <li class="relative isolate">
              <a
                href={item === "home" ? "/" : `/${item.toLowerCase()}`}
                class="text-base/[2] p-2 font-serif capitalize hover:underline"
              >
                {index}.&nbsp;{item}
                <span class="absolute inset-0" />
              </a>
            </li>
          );
        })
      }
    </ul>
    <div class="">
      <a
        href="https://github.com/Justin-Bento"
        class="font-serif after:content-['_↗'] hover:underlinetext-base/[2] p-2 capitalize hover:underline"
        >Github</a
      >
    </div>
  </div>
</header>
