---
import "../styles/global.css";
const { title, supporting, items } = Astro.props;
---

<h1
  class="text-4xl lg:text-5xl/[1.5] font-mono font-bold lg:tracking-tight mb-0"
>
  {title}
</h1>
<p class="text-xl/[1.5] text-zinc-700 tracking-wide text-pretty">
  {supporting}
</p>
<!-- Be sure to use this with a layout container that is full-width on mobile -->
<ul class="grid grid-cols-1 lg:grid-cols-2 mt-12 gap-12">
  {
    items.map((item: any) => (
      <li class="overflow-hidden relative isolate border-2 border-zinc-200 hover:border-sky-600 group">
        <div class="px-4 py-5 sm:p-6">
          <a href={item.url}>
            <h2 class="text-lg/[1.5] font-bold tracking-wider uppercase group-hover:text-sky-600 group-hover:underline">
              {item.frontmatter.title || "Card Title"}
              <span class="absolute inset-0" />
            </h2>
          </a>
          <p class="text-base/[1.5] tracking-wide mt-2 line-clamp-3 group-hover:opacity-70">
            {item.frontmatter.description || item.compiledContent()}
          </p>
        </div>
      </li>
    ))
  }
</ul>
